<div id="footer" class="page-bottom">

    <div class="container">
        <div class="col-sm-4 hidden-xs">
            <div class="content">
                <h4 class="title">关于本站</h4>
                <p>1、基于Django+Bootstrap开发</p>
                <p>2、主要记录成长的点滴</p>
                <p>3、欢迎朋友们在任何文章评论下给我留言</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="content">
                <h4 class="title">建议反馈</h4>
                <p>1、可在相应的博文底下评论</p>
                <p>2、发邮件到417005901@qq.com</p>
            </div>
        </div>

        <div class="col-sm-4 hidden-xs">
            <div class="content">
                <h4 class="title">友情链接</h4>
                <p>待接入</p>
            </div>
        </div>
    </div>

    <div class="copyright">
        <span>从绝望中寻找希望，人生终将辉煌</span>
    </div>
</div>